<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <div class="container">

        <div class="container">
          <p class="h4 text-center">2024 Test Series</p>
          <div class="list-group">
              {% for r in y2024 %}
                  {% if r['scoredMarks'] != None %}
              <a href="/test?testid={{r['batchTestId']}}&token={{token}}" class="list-group-item list-group-item-action list-group-item-info">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{r['testName']}}</h5>
                  <small>{{r['endTime'][0:10]}}</small>
                </div>
                <p class="mb-1">{{r['scoredMarks']}}/{{r['maxMarks']}} - {{r['percentage']}}%</p>
              </a>
              {% endif %}
              {% endfor %}
          </div><br>
        </div>

        <div class="container">
          <p class="h4 text-center">2023 Test Series</p>
          <div class="list-group">
            {% for r in y2023 %}
                {% if r['scoredMarks'] != None %}
            <a href="/test?testid={{r['batchTestId']}}&token={{token}}" class="list-group-item list-group-item-action list-group-item-info">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{r['testName']}}</h5>
                <small>{{r['endTime'][0:10]}}</small>
              </div>
              <p class="mb-1">{{r['scoredMarks']}}/{{r['maxMarks']}} - {{r['percentage']}}%</p>
            </a>
            {% endif %}
            {% endfor %}
          </div><br>
        </div>

        <div class="container">
          <p class="h4 text-center">2022 Test Series</p>
          <div class="list-group">
          {% for r in y2022 %}
              {% if r['scoredMarks'] != None %}
          <a href="https://zeal.saumay.dev/test?testid={{r['batchTestId']}}&token={{token}}" class="list-group-item list-group-item-action list-group-item-info">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{r['testName']}}</h5>
              <small>{{r['endTime'][0:10]}}</small>
            </div>
            <p class="mb-1">{{r['scoredMarks']}}/{{r['maxMarks']}} - {{r['percentage']}}%</p>
          </a>
          {% endif %}
          {% endfor %}
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>